PAYMENT_SERVICE_URL=https://masumi-payment-service-production-25cb.up.railway.app/api/v1
PAYMENT_API_KEY=masumi-payment-zbq46y9xixg16kp8onbj8wq4
AGENT_IDENTIFIER=
SELLER_VKEY=e283c9160e0e1d40c9df491f4c2033b84934f8fe98018b9e9a0509ec
NETWORK=Preprod
OPENAI_API_KEY=your_openai_api_key_here
